#block-contactinfo {
  position: static;
  @include respond($sm){
    padding-top: 40px; 
  }
  .company-logo {
    max-width: 192px;
    img{
      max-width:100%;
    }
  }
  .field--name-body {
    color: $c-grey-2;
    letter-spacing: 0;
    padding-top: 0;
    font-size: em(12);
    line-height: (16/12);
    text-align: right;
    font-weight: 400; 
    @include respond($sm){
      font-size: em(14);
      line-height: (20/14);
    }
    @include respond($md){
      font-size: em(18);
      line-height: (20/18);
    }
    p{
      display: none;
      @include respond($sm){
        display: block;
      }
    }
    .telephone{
      display: block;
      margin: 3px 0;
      font-size: em(26);
      line-height: (26/26);
      @include respond($sm){
        display: none;
        margin: 0;
      }
    }
    a{
      //color: $c-black;

      color: $c-grey-2;
    }
    .ford-link{
      display: none;
      margin: 0 auto 20px;
      @include respond($sm){
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
      }
      a{
        display: inline-block;
        font-size: 14px;
        line-height: 25px;
        padding: 5px 20px;
        background: $c-grey-2;
        color: $c-white;
        @include respond($sm){
          padding: 5px 30px;
        }
        @include respond($md){
          padding: 5px 40px;
        }
        .icon-link-ext{
          &:before {
            background: transparent;
          }
          
        }
      }
    }
    [class^="icon-"]{
      white-space: nowrap;
      &:before {
        background: $c-red;
        border-radius: 50%;
        padding: 1px;
        box-sizing: content-box;
        color: $c-white;
      }
      &.icon-link-ext{
        &:before {
          font-size: 14px;
          padding: 2px 3px !important;
          line-height: 14px;
        }
      }
    }
  }
}
#block-linkolnlink{
  position: relative;
  @include respond($sm){
    //margin-top: 10px;
  }
  .field--name-body {
    .company-logo{
      display: block;
      text-indent: -9999px;
      background: url('../images/logo-lincoln.svg') no-repeat;
      width: 115px;
      height: 30px;
      background-size: 100% auto;
      @include respond($sm){
        width: 175px;
        height: 45px;
      }
    }
  }
}

// ico-lincoln

#block-callouthome {
  padding-top: 25px;
  .field--name-field-callout {
    >.field--item {
      margin-bottom: 25px;
      &:nth-child(2){
        @include respond($sm){
          display: none;
        }
      }
      .field--name-field-image {
        img {
          max-height: 55px;
          width: auto;
          margin: 0 auto;
        }
      }
      .field--name-field-body {
        font-size: 1em;
        line-height: 20px;
        color: $c-brown-l;
        letter-spacing: 0.025em;
        text-align: center;
        padding-top: 15px;
        p{
          min-height: 40px;
          @include respond($sm){
            min-height: 20px;
          }
        }
        a {
          color: $c-brown-l;
        }
        @include respond($sm){
          
          font-size: em(21);
          line-height: (49/41);
          padding-top: 25px
        }
      }
    }
  }
}
.view-hero-image-block,.view-hero-image-block-product-{
  .view-content{
    position: relative;
    font-family: $font-family-miller;
    .field--name-field-hero-image{
      img{
        width: 100%;
      }
    }
    .hero-image-description{
      position: absolute;
      max-width: 320px;
      top: 30%;
      left: 55%;
      @include respond($sm){
        top: 40%;
        left: 60%;
      }
      .field--name-field-title{
        font-size: em(40/2);
        line-height: (132/110);
        color: $c-brown;
        font-weight: bolder;
        @include respond($sm){
          font-size: em(60/2);
        } 
        @include respond($md){
          font-size: em(80/2);
        }   
        @include respond($lg){
          font-size: em(110/2);
        }
      }
      .field--name-field-subtitle{
        font-size: 1em;
        line-height: (84/70);
        color: $c-brown-l;
        font-style: italic;
        @include respond($sm){
          font-size: em(45/2);
        } 
        @include respond($md){
          font-size: em(60/2);
        }   
        @include respond($lg){
          font-size: em(70/2);
        }
      }
    }
  }
}
.region-content-top,
.region-content,
.region-content-bottom{
  .block{
    .block-title{
      color: $c-brown-l;
      font-family: $font-family-base;
      text-transform: uppercase;
      text-align: center;
      line-height: (108/90);
      letter-spacing: 0.04em;
      font-size: em(30);
      @include respond($sm){
        font-size: em(45);
      }
    }
  }
}

.hours-block{
  .field--name-field-text-callout{
    @include make-row();
    >.field--item{
      margin-bottom: 15px;
      @include respond($sm){
        margin-bottom: 0px;
      }
      @include make-col(12, 12, 4);
      .paragraph--type--text-callout{
        padding: 0px;
        max-width: 320px;
        margin: 0 auto;
        @include respond($sm){
          padding: 0 10px;
          max-width: 100%;
          margin: 0;
        }
        @include respond($md){
          padding: 0 20px;
        }
        @include respond($lg){
          padding: 0 30px;
        }
        .field--name-field-title{
          font-size: em(20);
          color: $c-black;
          font-family: $font-family-base;
          text-transform: uppercase;
          text-align: center;
          line-height: (48/40);
        }
        .field--name-field-item{
          .paragraph--type--text-callout-item{
            border-bottom: 1px solid #000;
            padding: 11px 0 9px 0;
            .field--name-field-label,
            .field--name-field-description{
              display: inline-block;
              font-size: em(14);
              line-height: (34/28);
              font-family: $font-family-base;
              color: #2F201C;
            }
            .field--name-field-label{
              width: 25px;
              margin-right: 10px;
              color: $c-black;
              text-transform: uppercase;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.trilliumlincoln-utility-payment-calculator-form{
  margin: 13px 0 25px 0;
  .panel{
    font-family: $font-family-base;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    .panel-heading{
      background-color: transparent;
      border: none;
      border-radius: 0px;
      padding: 0px;
      margin: 0 0 7px 0;
      .panel-title{
        padding: 0px;
        margin: 0px;
        color: $c-brown-2;
        font-size: em(14);
        line-height: (17/14);
      }
    }
    .panel-body{
      padding: 0px;
      p{
        text-transform: none;
        font-weight: normal;
      }
      .panel-default{
        margin-bottom: 18px;
      }
    }
    .form-type-textfield,
    .form-type-select{
      clear: both;
      overflow: hidden;
      margin-bottom: 3px;
      font-weight: normal;
      label{
        font-size: em(14);
        line-height: 27px;
        color: $c-brown-2;
        margin: 0px;
        float: left;
        width: 70%;
        font-weight: normal;
      }
      .form-text{
        background-color: transparent;
        border:1px solid $c-brown-1;
        border-radius: 0px;
        color: $c-brown-2;
        font-size: em(14);
        line-height: (17/14);
        padding: 4px 8px;
        height: auto;
        text-align: right;
        float: right;
        width: 30%;
        height: 27px;
        &::placeholder{
          color: $c-brown-2;
        }
      }
      .select-wrapper{
        width: 30%;
        &:after{
          color: $c-brown-2;
          content: '\e259';
        }
        .form-select{
          height: 27px;
          background-color: transparent;
          border:1px solid $c-brown-1;
          border-radius: 0px;
          color: $c-brown-2;
          font-size: em(14);
          line-height: (17/14);
          padding: 4px 8px;
        }
      }
    }
  }
  >.panel{
    background-color: $c-grey-l;
    >.panel-heading{
      padding: 0px;
      margin: 0px;
      background-color: $c-brown-1;
      color: $c-white;
      a.panel-title{
        font-size: em(14);
        line-height: (17/14);
        padding: 13px 11px;
        margin: 0px;
        position: relative;
        color: $c-white;
        &::after { 
          content: '\e259';
          transform-origin: 50% 50%;
          transform: rotate(180deg);
          display: inline-block;
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          margin-top: -.5em;
          pointer-events: none;
          position: absolute;
          right: 12px;
          top: 50%;
          z-index: 10;
        }
        &.collapsed{
          &::after {
            transform: rotate(0deg);
          }
        }
      }
    }
    >.panel-body{
      padding: 15px 13px;
    }
  }
  .total-item{
    background-color: $c-brown-1;
    color: $c-white;
    font-size: em(14);
    line-height: (17/14);
    padding: 6px 10px;
    span{
      float: right;
      @media (min-width: 768px) and (max-width: 868px) {
        float:none;
        display:block;
        text-align: center;
        font-size: 1.2em;
      }
    }
    &.total-lease{
      margin-bottom: 5px;
    }
  }
}
#block-homebuttonblock{
  border-top: 1px solid #000;
  padding-top: 35px;
  @include respond($sm){
    padding-top: 50px;
  }
  .field--name-body{
    text-align: center;
    .btn{
      display: inline-block;
    }
  }
}
.webform-style-block{
  form{
    #edit-markup-header,
    #edit-text{
      display: none;
    }
    text-align: center;
    h2{
      font-family: $font-family-base;
      font-weight: 300;
      font-size: em(60);
    }
    h3{
      font-size: em(30);
      font-family: MillerBItalic, sans-serif;
      &:after{
        content: '';
        width: 25%;
        display: block;
        height: 6px;
        background-color: $c-red;
        margin: 16px auto 24px auto;
      }
    }
    p{
      font-family: $font-family-base;
      font-weight: 300;
      font-size: em(15);
      letter-spacing: 0.5px;
      line-height: 1.2em;
    }
    .button-section{
      padding: 10px 0 0 0;
      .btn-block{
        display: inline-block;
        margin: 5px 5px 0px 5px;
      }
    }
    .form-actions{
      clear: both;
      padding: 15px 30px;
      border: none;
      text-align: center;
      button{
        padding: 1em 5em;
      }
    }
    .form-item{
      margin-right: 3%;
      &.form-type-textfield,
      &.form-type-email,
      &.form-type-tel{
        @include respond($sm){
          width: 47%;
          float: left;
        }
      }
      .form-control{
        width: 100%;
      }
      .control-label{
        margin-bottom: 5px;
        width: 100%;
        display: block;
        text-align: left;
        &.form-required{
          &:after{
            margin-left: 4px;
          }
        }
      }
      &.has-error{
        .control-label{
          color: #a94442;
        }
      }
    }
  }
}
.car-type-block{
  margin-right: -15px;
  margin-left: -15px;
  .car-type-item{
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    @include respond($xs){
      max-width: 60%;
    }
    @include respond($sm){
      max-width: 100%;
      float: left;
      width: 33.3333%;
      margin-bottom: 0px;
    }
    padding-left: 15px;
    padding-right: 15px;
    a{
      font-size: 13px;
      display: block;
      text-align: center;
      span{
        background-color: #f15e46;
        color: #fff;
        text-transform: uppercase;
        padding: 5px;
        display: block;
      }
      img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }
  }
}


//Custom CSS
.context-location-hours{
  .main-container{
    overflow: hidden;
    .wrapper{
      padding: 0;
    }
  }
  #block-hoursblock{
    background: rgba(94, 80, 76, 0.11);
    padding: 0 9999px;
    margin: 0 -9999px;
    padding-bottom: 50px;
    padding-top: 25px;
    @include respond($xs){
      padding-bottom: 100px;
      padding-top: 50px;
    }
      h2{
        text-transform: none;
      }
  }
  .hours-block .field--name-field-text-callout > .field--item .paragraph--type--text-callout .field--name-field-item .paragraph--type--text-callout-item{
    border-bottom: 10px solid rgba(94, 80, 76, 0.11);
    padding: 11px 0 9px 0;
    background: #fff;
  }
  .hours-block .field--name-field-text-callout > .field--item .paragraph--type--text-callout{
    padding: 0;
  }
  .hours-block .field--name-field-text-callout > .field--item{
    padding: 0 15px;
    @include respond($xs){
      padding: 0;
    }
  }
  .hours-block .field--name-field-text-callout > .field--item .paragraph--type--text-callout .field--name-field-title{
    text-align: left;
  }
  .hours-block .field--name-field-text-callout > .field--item .paragraph--type--text-callout .field--name-field-title{
    margin-bottom: 20px;
  }
  .footer{
    margin-top: 0;
  }
}