#block-webform-2 {
	background-color: $c-brown;
	padding: 3rem;
	.form-item {
		label {
			color: $c-white;
		}
	}
	.webform-style-block form .form-item {
		margin-right: 1.5%;
		margin-left: 1.5%;
	}
}