.slider {
  position: relative;
  overflow: hidden;
  // @include respond($lg){
    height: calc(100vh - 174px);
  // }
  h3 {
    margin: 0;
  }
  .item {
    .light{
      @include respond($sm){
      color: #ffffff !important;
      }
    }
    .dark{
      @include respond($sm){
      color: #2e201b;
      }
    }
    .theme{
      @include respond($sm){
      color: #f15e46;
      }
    }
    .secondary{
      @include respond($sm){
      color: #5e504c;
      }
    }
    right: 0;
    bottom: 0;
    overflow: hidden;
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: none;
      // margin-left: -50vw;
      @include respond($sm){
        // margin-left: 0;
      } 
    }
    .list {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
      margin: 0;
      width: 100%;
      height: auto;
      padding: 0px;
      list-style: none;
      /* default fallback */
      background: rgb(255, 255, 255) transparent;
      /* nice browsers */
      background: rgba(255, 255, 255, 0.6);
      /* IE 6/7 */
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
      /* IE8 */    
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
      @include respond($sm){
        background: none;
        position: unset;
      } 
      .views-field {
        max-width: 430px;
        margin-left: auto;
      }

      .wrapper{
        padding: 5%;
        @include respond($sm){
          position: absolute;
          width:100%;
          margin-bottom: 50px;
        }
        .btn-lg {
          width: auto;
          padding: 0.5em 1em;
          line-height: 1em;
          @include respond($sm){
            padding: 1em 2em;
            line-height: 1.5em;
          }
        }
        @include respond($sm){
          &.oclock{
            top: 0%;
            right: 0%;
            left: 0%;
            .btn {
              margin: 0 auto;
              float: none;
            }
          }
          &.oclock12{
            top: 0%;
            left: 0%;
            right: 0%;
            text-align: center;
            .btn {
              margin: 0 auto;
              float: none;
            }
          }
          &.oclock0 {
            top: 20%;
            left: 0;
            right: 0;
            text-align: center;
            .btn {
              margin: 0 auto;
              float: none;
            }
            .views-field {
              max-width: none !important;
              margin: auto !important;
            }
          }
          &.oclock1{
            top: 0;
            left: auto;
            right: 5%;
            text-align: right;
            .btn {
              margin: 0 auto;
              float: right;
            }
          }
          &.oclock2{
            top: 5%;
            left: auto;
            right: 0%;
            text-align: right;
            .btn {
              margin: 0 auto;
              float: right;
            }
          }
          &.oclock3{
            top: 20%;
            left: auto;
            right: 0%;
            text-align: right;
            .btn {
              margin: 0 auto;
              float: right;
            }
          }
          &.oclock4{
            top: auto;
            bottom: 5%;
            left: auto;
            right: 0%;
            text-align: right;
            .btn {
              margin: 0 auto;
              float: right;
            }
          }
          &.oclock5{
            top: auto;
            bottom: 10%;
            left: auto;
            right: 10%;
            text-align: right;
            .btn {
              margin: 0 auto;
              float: right;
            }
          }
          &.oclock6{
            top: auto;
            bottom: 5%;
            left: auto;
            right: 30%;
            text-align: center;
            .btn {
              margin: 0 auto;
              float: none;
            }
          }
          &.oclock7{
            top: auto;
            bottom: 10%;
            left: 5%;
            text-align: left;
            .btn {
              margin: 0 auto;
              float: left;
            }
          }
          &.oclock8{
            top: auto;
            bottom: 10%;
            left: 10%;
            text-align: left;
            .btn {
              margin: 0 auto;
              float: left;
            }
          }
          &.oclock9{
            top: 20%;
            left: 5%;
            text-align: left;
            .btn {
              margin: 0 auto;
              float: left;
            }
          }
          &.oclock10{
            top: 15%;
            left: 10%;
            text-align: left;
            .btn {
              margin: 0 auto;
              float: left;
            }
          }
          &.oclock11{
            top: 10%;
            left: 10%;
            text-align: left;
            .btn {
              margin: 0 auto;
              float: left;
            }
          }
        }
      }
    }

    .views-field-field-slider-headline {
      font-family: $font-family-miller;
      font-size: em(40/2);
      
      line-height: (132/110);
      color: $c-brown;
      font-weight: bolder;
      @include respond($sm){
        font-size: em(60/2);
      } 
      @include respond($md){
        font-size: em(80/2);
      }   
      @include respond($lg){
        font-size: em(110/2);
      }

    }
    .views-field-body {
      font-family: $font-family-miller;
      font-size: 1em;
      color: $c-brown-l;
      font-style: italic;
      padding-bottom: 5px;
      @include respond($sm){
        font-size: em(46/2);
      } 
      @include respond($md){
        font-size: em(60/2);
      }   
      @include respond($lg){
        font-size: em(70/2);
      }

    }
    .views-field-field-button{
      margin-top: 4px;
    } 
  }
  .slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    z-index: 101;
    font-size: em(25);    
    color: $c-red;
    &.prev {
      left: 3px;
    }
    &.next {
      right: 3px;
    }
    @include respond($sm){
      font-size: em(35);
      &.prev {
        left: 40px;
      }
      &.next {
        right: 40px;
      }
    }
  }
  .slider-pager {
    position: absolute;
    z-index: 200;
    bottom: 20px;
    height: 10px;
    display: none;
    @include respond($sm){
      display: block;
    }
    >span {
      display: inline-block;
      height: 10px;
      width: 10px;
      text-indent: -9999px;
      border-radius: 50%;
      border: 2px solid $c-brown;
      background-color: $c-brown;
      margin-right: 10px;
      &.cycle-pager-active {
        background-color: transparent;
      }
    }
  }
}