.region-highlighted .sub-menu {
	position: absolute;
	bottom: 1px;
	right: 0;
	z-index: 101;
	text-align: center;
	display: none;
	@include respond($sm){
		display: block;
	}
	.menu {
		li {
			float: left;			
			transform: skew(-26deg);
			border-left: 2px solid $c-brown-l;
			a{
				max-width: 100px;
				transform: skew(26deg);
				height: 50px;
				color: $c-brown-l;
				font-size: em(14);
				text-transform: uppercase;
				&:hover, &:focus {
					background-color: transparent;
				}
				&.large{
					max-width: 160px;
				}
			}
			
		}
	}
}