@font-face {
  font-family: 'Gotham';
  src: url('Gotham/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('Gotham/Gotham-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MillerBItalic';
  src: url('MillerB/LincolnMillerB-Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MillerB';
  src: url('MillerB/LincolnMillerB-Black.otf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'MinionPro';
  src: url('MinionPro/MinionPro-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova/Lincoln-ProximaNova-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('ProximaNova/Lincoln-ProximaNova-Reg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('fontello/icons.eot?37764612');
  src: url('fontello/icons.eot?37764612#iefix') format('embedded-opentype'),
       url('fontello/icons.woff2?37764612') format('woff2'),
       url('fontello/icons.woff?37764612') format('woff'),
       url('fontello/icons.ttf?37764612') format('truetype'),
       url('fontello/icons.svg?37764612#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?37764612#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e801'; } /* '' */
.icon-print:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-link:before { content: '\e819'; }
.icon-fb:before { content: '\e805'; }