$font-family-base:  ProximaNova, sans-serif;
$font-family-gotham:  Gotham, sans-serif;
$font-family-miller:  MillerB, sans-serif;
$font-size-base: 16px;
$line-height-base: 1;
$font-weight: 400;

//Screen:
$ss: 320px;				
$xs: 480px;				$xs-1: $xs - 1px;
$sm: 768px;				$sm-1: $sm - 1px;
$md: 992px;				$md-1: $md - 1px;
$lg: 1200px;			$lg-1: $lg - 1px;

$grid-gutter-width: 30px;
$wrapper-mw: 992px;

//Colors
$c-black:	#000;
$c-blue: 	#00f;
$c-red: 	#f15e46;
$c-white: 	#fff;
$c-brown: 	#2e201b;
$c-brown-l:	#5e504c;
$c-yellow: 	#dcd1bd;
$c-orange: #F15F46;
$c-grey: #CCCCCC;

$text-color: $c-brown;
$body-bg: $c-white;

//Links
$link-color: $c-blue;
$link-decoration: none;
$link-hover-color: $c-red;
$link-hover-decoration: none;
