.view-product-list{
  .view-filters{
    margin-bottom: 40px;
    .views-exposed-form{
      // font-size: em(14);
      // line-height: 33/28;
      >.form-inline{
        @extend .row;
        margin-bottom: 0;
        .form-wrapper-filter {
          @extend %col-sm-8;
          @extend %col-xs-12;
          margin-bottom: 0;
          .form-checkboxes {
            .form-checkboxes{
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              @include respond($xs){
                flex-direction: row;
              }
              .form-type-checkbox {
                margin: 0;
                margin-bottom: 9px;
                .form-checkbox{
                  margin-left: 0;
                  margin-top: 0px;
                }
                .control-label{
                  text-transform: uppercase;
                  min-height: 0;
                }
              }
            }
          }
          >.form-checkboxes {
            float: left;
            width: 50%;
            @include respond($xs){
              float: none;
              width: auto;
            }
          }
          .form-type-select {
            margin-bottom: 5px;
            width: 50%;
            float: left;
            @include respond($xs){
              float: right;
              width: 33.3%;
              margin-left: 0px;
            }
            &.form-item-field-car-year-value{
              @include respond($xs){
                text-align: center;
              }
            }
            .select-wrapper {
              width: 100%;
              @include respond($xs){
                width: auto;
              }
              &::after { 
                content: '\e259';
                color: $c-brown;
              }
            }
            .form-select{
              border-radius: 0;
              box-shadow: none;
              height: auto;
              padding: 5px 44px 5px 5px;
              border-color: $c-brown-l;
              text-transform: uppercase;
            }
            &.form-item-field-car-model-target-id{
              @include respond($xs){
                width: 33.3%;
              }
            }
          }
          .form-item-field-car-stock-number-value{
            margin-bottom: 5px;
            width: 50%;
            float: left;
            @include respond($xs){
              width: 33.3%;
              float: right;
            }
            input{
              border-color: $c-brown-l;
              text-transform: uppercase;
              border-radius: 0;
              box-shadow: none;
              padding: 5px;
              height: 26px;
              width: 100%;
              @include respond($xs){
                width: 85px;
              }
              float: right;
              &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #555;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #555;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #555;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #555;
              }
            }
          }
        }
        .form-actions{
          @extend %col-sm-4;
          @extend %col-xs-12;
          margin-bottom: 0;
          .form-submit{
            width: 100%;
            max-width: none;
            font-size: 1em;
          }
        }
      }
    }
  }
}