

/* THEME DEBUG */
/* THEME HOOK: 'simple_menu_icons_css_item' */
/* BEGIN OUTPUT from 'modules/simple_menu_icons/templates/simple-menu-icons-css-item.html.twig' */

    a.menu-icon-8,
    ul.links li.menu-icon-8 a,
    ul.menu li.menu-icon-8 a {
        background-image: url(/trilliumlincoln/sites/default/files/menu_icons/mail.svg);
        padding-left:px;
        background-repeat: no-repeat;
        background-position: left center;
    }

/* END OUTPUT from 'modules/simple_menu_icons/templates/simple-menu-icons-css-item.html.twig' */

