#edit-field-car-model-year-wrapper .form-item-field-car-model-year-0-value-month,
#edit-field-car-model-year-wrapper .form-item-field-car-model-year-0-value-day{
  display: none;
}
body.role-staff .layout-region-node-main,
body.role-staff .layout-region-node-footer,
body.role-staff .layout-region-product-main,
body.role-staff .layout-region-product-footer{
  width: 100%;
  margin-bottom: 20px;
}
body.role-staff .layout-region-product-secondary,
body.role-staff .layout-region-node-secondary{
  display: none;
}