.main-container{
  >.row >.wrapper{
    padding-top: 40px;
  }
}
.region-content-top,
.region-content,
.region-content-bottom{
  .block, 
  .paragraph > .paragraph__column, 
  .node-content, 
  .product-single,
  >div:last-child,
  >section:last-child,
  >article:last-child {
    margin-bottom: 35px;
    @include respond($sm){
      margin-bottom: 50px;
    }
    .paragraph > .paragraph__column{
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.region-content {
  .node-content {
    position: relative;
    .node-title,
    h2{
      text-align: left;
      margin-top: 0;
      margin-bottom: 5px;
      letter-spacing: 0.04em;
      color: $c-brown-l;
      line-height: (108/90);
      font-size: em(25);
      font-weight: 300;
      @include respond($sm){
        font-size: em(45);
      }
    }
    p + h2{
      margin-top: 50px;
    }
    .content {
      .field--name-body {
        font-family: $font-family-base;
        line-height: (37/31);
        letter-spacing: 0.01em;
        color: $c-brown;
        font-size: em(14);
        // margin-bottom: 20px;
        // padding-bottom: 15px;
        @include respond($sm){
          font-size: 1em;
          // margin-bottom: 35px;
          // padding-bottom: 10px;
        }
        h3{
          text-transform: uppercase;
          color: $c-orange;
          font-weight: bold;
          line-height: (37/31);
          font-size: em(14);
          margin: 20px 0;
          @include respond($sm){
            font-size: 1em;
          }
        }
      }
    }
  }
}
.context-assistance,
.context-about{
  .region-content{
    .page.full{
      .node-title{
        display: none;
      }
    }
  }
}
.path-frontpage,
.context-assistance,
.context-about{
  .region-content{
    .page.full{
      .content {
        .field--name-body {
          max-width: 660px;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
      }
    }
  }
}
.sitemap{
  .sitemap-box{
    >h2{
      text-transform: uppercase;
      margin-top: 35px;
      margin-bottom: 0px;
      letter-spacing: -0.015em;
      color: $c-brown-l;
      line-height: (108/90);
      font-size: em(25);
      @include respond($sm){
        font-size: em(45);
      }
    }
    &:first-child{
      >h2{
        margin-top: 0px;
      }
    }
    .content{
      .sitemap-menu{
        list-style: none;
        padding: 0px;
        margin: 0px;
      }
      li.expanded > a{
        display: none;
      }
      a{
        text-transform: uppercase;
        color: $c-orange;
        font-weight: bold;
        line-height: (37/31);
        font-size: em(14);
        @include respond($sm){
          font-size: 1em;
        }
      }
    }
  }
}
.product-single{
  .print-btn{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    max-width: none;
  }
}
.webform-submission-form{
  .captcha{
    clear: both;
    overflow: hidden;
    img{
      margin-bottom: 15px;
      @include respond($sm){
        float: left;
        margin-right: 3%;
        margin-bottom: 0px;
      }
    }
    label{
      color: #fff;
    }
  }
}

.view-team-members{
	.view-content{
		margin-left: -15px;
		margin-right: -15px;
		&:before{
			content: '';
			display: table;
		}
		.member{
			margin-bottom: 25px;
			@include respond($md){
			  margin-bottom: 50px;
			}
			.text-content{
				h3{
					font-size: 24px;
					@include respond($md){
						font-size: 30px;
					}
				}
				.field--name-field-position{
					font-size: 16px;
					min-height: 75px;
					@include respond($md){
					font-size: 24px;
					}
				}
			}
      .photo{
        position: relative;
        .description{
          transition: all 0.5s ease;
          //display: none;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(220, 209, 189, 0.75);
          height: 100%;
          width: 100%;
          text-align: center;
          font-weight: 600;
          padding: 20px 20px;
          overflow: hidden;
          color: $c-brown;
          font-size: 20px;
          line-height: 24px;
          @include respond($sm){
            font-size: 14px;
            line-height: 18px;
          }
          
          .mCSB_container{
            margin-right: 20px;
            &.mCS_no_scrollbar_y{
              margin-right: 0;
            }
          }
        }
        &:hover{
          .description{
            display: block;
            opacity: 1;
          }
        }
      }
		}
	}
}

.path-news{
  .main-container{
    .row{
      .wrapper{
        padding: 0;
      }
    }
  }
  .form-group{
    .views-row{
        .news{
          padding: 35px 0;
          border-top: 1px solid #707070;
          .right-column{
            width: 100%;
            float: none;
            @include respond($sm){
            width: 55%;
            float: right;
            }
          .date{
            font-size: 18px;
            text-transform: uppercase;
            color: #F15E46;
          }
          h2{
            a{
              color: #000;
              font-size: 30px;
              transition: all 0.5s ease;
              &:hover{
                color: #f15e46;
              }
            }
          }
          .content{
            font-size: 18px;
            line-height: 23px;
          }
        }
        .left-column{
          margin-top: 20px;
          @include respond($sm){
            margin-top: 0;
          }
        }
      }
    }
  }
  #block-views-block-news-events-block-1{
    .news{
      padding: 0;
    }
    .featured-image{
      img{
        width: 100%;
      }
    }
    .highlighted{
      margin-bottom: 30px;
    .news{
      border:none;
      padding: 0;
    }
    .date{
      font-size: 18px;
      text-transform: uppercase;
      color: #F15E46;
      margin-top: 10px;
    }
    h2{
      a{
        color: #707070;
        font-size: 45px;
        transition: all 0.5s ease;
        &:hover{
          color: #f15e46;
        }
        @include respond($sm){
          font-size: 60px;
        }
      }
    }
    .content{
      font-size: 18px;
      line-height: 23px;
      column-count: 1;
      @include respond($sm){
       column-count: 2;
      }
    }
  }
}
}

.page-node-type-news{
  .date{
    font-size: 18px;
    text-transform: uppercase;
    color: #F15E46;
  }
  h2{
    a{
      color: #000;
      font-size: 30px;
    }
  }
  .content{
    font-size: 18px;
    line-height: 23px;
  }
}
