.header {
  position: relative;
	.region-header {
		padding-top: 10px;
		padding-bottom: 10px;
		@include respond($sm){
			//padding-top: 60px;
			padding-top: 20px; 
      padding-bottom: 20px;
		}
	}
}