@function em($val, $divider: $font-size-base){
	@if (unitless($val)) {
    $val: $val * 1px;
  }

  @if (unitless($divider)) {
    $divider: $divider * 1px;
  }

  @return $val / $divider * 1em;
}