/* Example for rubik-500 - latin */
/* 
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Rubik/rubik-v2-latin-500.eot');
  src: local('Rubik Medium'), local('Rubik-Medium'),
       url('../fonts/Rubik/rubik-v2-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Rubik/rubik-v2-latin-500.woff2') format('woff2'),
       url('../fonts/Rubik/rubik-v2-latin-500.woff') format('woff'),
       url('../fonts/Rubik/rubik-v2-latin-500.ttf') format('truetype'), 
       url('../fonts/Rubik/rubik-v2-latin-500.svg#Rubik') format('svg'); 
}
 */